body {
    margin: 0;
    font-family: arial, sans-serif;
}

.header {
    display: block;
    height: 48px;
    background: #000D66;
    text-align: center;
}

.header h1 {
    margin: 0;
    padding: 0;
    line-height: 48px;
    font-size: 20px;
    font-weight: normal;
    color: #FFF;
}

#departures-back-button {
    display: none;
    position: absolute;
    color: white;
    font-size: 30px;
    line-height: 48px;
    width: 50px;
}

#departures {
    display: none;
}

#search-stations header {
    text-align: left;
    padding: 5px 10px;
}

#search-stations header h2 {
    margin: 0;
    color: #FFF;
    font-size: 16px;
    font-weight: normal;
}

#search-stations .search-station-input-container {
    padding: 20px 10px;
    border-bottom: 1px #DDD solid;
}

#search-station-input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    color: #777;
}

#station-results {
    display: block;
    overflow: auto;
    list-style: none;
    padding: 0;
    margin: 0;
}

#station-results li {
    padding: 20px 10px;
    display: block;
    font-size: 20px;
    color: #000D66;
}

#station-results li:nth-child(2n+1) {
    background: #F2F2F7;
}

#departures header {
    background: #FFCC33;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

#departures-table-header th {
    text-align: left;
    line-height: 40px;
    background: #000D66;
    color: #FFF;
    font-weight: normal;
}

#departures-table-body-container {
    overflow: auto;
}

#departures-table-header .time,
#departures-table-header .platform,
#departures-table-body .time,
#departures-table-body .platform {
    width: 45px;
}

#departures-table-header,
#departures-table-body {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
}

#departures-table-header th {
    padding: 0 10px;
}

#departures-table-body td {
    padding: 10px;
    vertical-align: top;
}

#departures-table-body tr:nth-child(2n) td {
    background: #F2F2F7;
}

#departures-table-body .delay {
    font-size: 12px;
}

#departures-table-body .train-type,
#departures-table-body .route-info {
    font-size: 12px;
    margin-top: 5px;
}

#departures-table-body .platform-changed {
    color: #F00;
    font-weight: bold;
}

#departures-not-available {
    display: none;
    padding: 20px;
    text-align: center;
}
